.navbar {
   /*  display:flex;
    justify-content: center; 
    align-items: center; */
    position: fixed;
    top: 0;
    left: 4rem;
    font-weight: 900;
    font-size: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:rgba(210, 105, 30, 0.144);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%; 
    justify-content: flex-start;
    background-position: center;
   
}

.nav-list {
    display: flex;
    padding: 2rem;
    list-style-type: none;

}

.nav-home {
    margin-right: 3rem;
    
}

a {
    color: gray;
}

a:hover {
    color: aqua;
    text-decoration: none;
}

.nav-about {
    margin-right: 55rem;
}

.nav-register {
    margin-right: 4rem;
    
}

/* .nav-register a:hover {
    color: aqua;
} */